*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1360px;
    margin: 0 auto;
    background-color: #E1D4C9;
}
header{
    display: flex;
    justify-content: space-between;
    font: 600 16px Inter;
    color: #403F3D;
    padding: 20px 0;
    align-items: center;
    & .links{
        display: flex;
        gap:40px;
    }
    & .link_menu{
        display: flex;
        gap:10px;
        border-bottom: 2px solid black;
        & img{
            width: 20px;
            height: 20px;
        }
    }
    & .link_wrapper{
        color: #403F3D;
        text-decoration: none;
    }
    & .links p:hover{
        text-decoration: underline;
    }
    & .active{
        display: none;
    }
}

main .previe {
    background-image: url(../images/img-hero.jpg);
    height: 644px;
    max-width: 1360px;
    padding: 100px;
    border-radius: 40px;
    font:600 50px Inter;
    color: #E1D4C9;
    & .text{
        width: 530px;
    }
    & span{
        color: #B0907A;
    } 
    & p{
        font: 400 16px Inter;
        margin: 40px 0;
    }
    & button {
        background-color: #E1D4C9;
        width: 200px;
        height: 64px;
        padding: 20px 78px; 
        border-radius: 100px;
        border: 0;
        display: inline-flex; 
        align-items: center; 
        justify-content: center;
        position: relative; 
    }
    & button:hover::after {
        content: url(../images/coffee-cup.png);
        position: absolute; 
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
    }
}
main .coffee_slider , main .pictures{
    margin-top: 100px;
}
main .coffee_slider h2 , main .pictures h2 , main .apps .left h2{
    font: 600 60px Inter; 
    color: #403F3D
}
main .coffee_slider h2 , main .pictures h2{
    text-align: center;
}
main .coffee_slider h2 span , main .pictures h2 span , main .apps .left h2 span{
    color:#B0907A;
}
main .coffee_slider .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #403F3D;
    & .left{
        align-items: center;
    }
    & .right button{
        background-color: #fff;
    }
    & .right button:hover{
        background-color: #665F55;
        color: #E1D4C9;
    }
    & .left button{
        background-color: #fff;
    }
    &  .left button:hover{
        background-color: #665F55;
        color: #E1D4C9;
    }
    & .center p:first-of-type{
        text-align: center;
        font: 600 24px Inter;
        margin: 20px 0;
    }
    & .center p:last-of-type
    {
        text-align: center;
        font: 600 24px Inter;
        margin: 20px 0;
    }
}
main .coffee_slider button{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background-color: transparent;
    color:#C1B6AD;
    font-size: 20px;
    color: #665F55;
    border-color: #665F55;
 }
main .coffee_slider .center img{
    max-width: 480px;
    height: 480px;
}
main .coffee_slider .center p:nth-last-of-type(2)
{
    font: 400 16px Inter;
    text-align: center;
}
main .coffee_slider .center .center_img{
   
    text-align: center;
}
main .coffee_slider .center  .line{
    display: flex;
    gap:12px;
    width: 140px;
    margin: 40px auto;
    height: 4px;
    & p{
        border-bottom:4px solid  #C1B6AD ;
        width: 40px;
        border-radius: 100px;
    }
    & .brown{
        border-bottom:4px solid #665F55 ;
    }
    & p:nth-of-type(2)
    {
        margin-top: 20px;
        
    }
}
main .pictures .wrapper{
    display: flex;
    justify-content:space-between;
    margin-top: 40px;
    & div div{
        border-radius: 20px;
        margin-bottom: 40px;
      }
}
main .pictures .wrapper .img1 , main .pictures .wrapper .img4{
    max-width: 660px;
    height: 590px;
    overflow: hidden;
 }

 main .pictures .wrapper .img2 , main .pictures .wrapper .img3{
    max-width: 660px;
    height: 430px;
    overflow: hidden;
}
main .apps{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 100px;
    & .left{
        margin-top: 145px;
        max-width: 630px;
        & h2{
            margin-bottom: 40px;
        }
        & p{
            font: 400 16px Inter;
            color:#403F3D;
        }
        & .buttons{
            display: flex;
            gap: 20px;
            margin-top: 40px;
            & button{
                border: 1px solid #665F55;
                border-radius: 50px;
                font: 600 10px Inter;
                text-align: center;
                color: #403F3D;
                background-color: #fff;
                width: 200px;
                height: 64px;
                display: flex;
                padding: 14px;
                align-items: center;
                & .AppStore{
                    background-image: url(../images/ios1.svg);
                    background-repeat: no-repeat;
                    width: 55px;
                    height: 36px;
                }
                & .GooglePlay{
                    background-image: url(../images/google1.svg);
                    background-repeat: no-repeat;
                    width: 36px;
                    height: 36px;
                }
                & p span{
                    font-size: 16px ;
                    font-weight: 700;
                }
            } 
            & button:hover{
                background-color: #665F55;
                & p{
                    color: #E1D4C9;
                }
            }
        }
    }
} 
main .apps .left .buttons .AppStore_button:hover .AppStore{
    background-image: url(../images/ios2.svg);
    background-repeat: no-repeat;
}
main .apps .left .buttons .GooglePlay_button:hover .GooglePlay{
    background-image: url(../images/google2.svg);
    background-repeat: no-repeat;
} 
footer{
    background-color: #665F55;
    border-radius: 40px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .left{
            max-width: 530px;
            & .buttons{
                margin-top: 40px;
                    &  button{
                        width: 60px;
                        height: 60px;
                        border-radius: 100px;
                        border: 1px solid #C1B6AD;
                        background-color: transparent;
                        color:#C1B6AD;
                        font-size: 20px;
                        color: #E1D4C9;
                        background-color: #fff;
                    }
                    & button:hover{
                        color: #403F3D;
                        background-color: #E1D4C9;
                    }
            }
            & h2{
                font: 600 60px Inter;
                color: #E1D4C9;
                & span{
                    color: #B0907A;
                    font-style: italic;
                }
            }
        }
    & .right{
        font: 600 24px Inter;
        color: #E1D4C9;
        max-width: 530px;
        text-align: left;
        & h4{
            margin-bottom: 40px;
        }
        &  p{
            font-size: 16px;
            font-weight: 300;
        }
        & p:nth-last-of-type(2)
        {
            margin: 16px 0;
        }
        & p i{
            margin-right: 10px;
        }
        & p:hover{
            border-bottom: 1px solid #E1D4C9;
            width: 33%;
        }
        & p:last-of-type:hover{
            width: 50%;
        }
    }
}
header .link_menu{
    border: 0;
}
@media screen and (max-width:1340px) {
    body{
        padding: 0 40px;
    }
    header{
        display: block;
        & .logo_wrapper{
            margin-left: 40px;
        }
        /* & .links{
            display: block;
            font: 600 32px Inter;
            line-height: 40px;
            text-align: center;
            & p:not(:last-of-type)
            {
                margin-bottom: 60px;
            }
        }
        & .link_menu {
            margin-top: 100px;
            margin-left: 45%;
            & p{
                font: 600 32px Inter;
                line-height: 40px;
            }
            & img{
                width: 40px;
                height: 40px;
            }
        } */
        & .links{
            display: none;
        }
        & .link_menu{
            display: none;
        }
        & .active{
            display: inline;
        }
        & .active_menu{
            display: flex;
            justify-content: space-between;
        }
    }
    .pictures .img2, .pictures .img3{
        display: none;
    }
    main .pictures .wrapper{
        flex-wrap: wrap;
        & .left{
            margin: 0 auto;
        }
        & .right{
            margin: 0 auto;
        }
    }
    main .apps{
        flex-wrap: wrap;
        margin-top: 100px;
        & .left{
            margin: 0 auto;
        }
        & .right{
            margin: 0 auto;
        }
    }
    footer{
        flex-direction:column;
        & .right{
            margin-top: 100px;
            & p:hover{
                width: 70%;
            }
            & p:last-of-type:hover{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:725px){
    main .previe{
        padding: 60px 16px;
        height: auto;
        & .text{
            width: 100%;
            & h2{
                font:600 42px Inter;
            }
            & p{
                font: 400 16px Inter;
            }
        }
    }
    main .coffee_slider{
         & .left , .right{
            display: none;
        }
        & h2{
            font-size: 32px;
        }
        & .center .center_img img{
            width: 348px;
            height: 348px;
        }
        & .center .center_text{
            width: 50%;
            margin: 0 auto;
           
        }
    }
    main  .pictures{
        & h2 {
            font-size: 32px;
        }
        & .left{
            height: 360px;
        }
        & .right{
            height: 360px;
        }
        & .img1 img {
            width: 348px;
        }
        & .img4 {
            margin-top:0 ;
            & img {
                width: 348px;
            }
        }
    }
    main .apps{
        & .left{
           & h2{
                font-size: 32px;
           }
           & .buttons{
            display: block;
                & button:first-of-type{
                    margin-bottom: 20px;
                }
           }
        }
        & .right{
            /* margin-left: 40px; */
            & img{
                width: 348px;
                height: 348px;
            }
        }
    }
    footer{
        & .left{
            & h2{
                font-size: 32px;
            }
            & .buttons{
                & button:nth-last-of-type(2)
                {
                    margin: 0 12px;
                }
            }
        }
    }
}
@media screen and (max-width:390px){
    body{
        padding: 10px;
    }
    header .logo_wrapper{
        margin-left: 10px;
    }
    footer{
        padding: 60px 16px;
    }
}